footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    margin-bottom: 1rem;
    margin-top: 2rem;

    .bx.footIcon {
        font-size: 3rem;
        margin: 0 1rem;
        color: white;
    }

    .bxl-github{
        transition: all .5s ease;
    }
    
    .bxl-github:hover {
        transform: translateY(-10px);
        color: #0966c3;
    }
    
    .bxl-linkedin {
        transition: all .4s ease;
    }
    
    .bxl-linkedin:hover {
        transform: translateY(-10px);
        color: #0966c3;
    }
    
    .bxl-gmail {
        transition: all .4s ease;
        color: white;
    }
    
    .bxl-gmail:hover {
        transform: translateY(-10px);
        color: #0966c3;
    }
}