@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
header .navBar__img {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: x-large;
  font-weight: 500;
  color: white;
  gap: 10px;
  margin-left: 5px;
}
header #navbarNavDropdown {
  justify-content: end;
}
header .navList {
  display: flex;
  align-items: center;
}
header .navList .navList__item {
  padding: 0.8rem 1rem;
}
header .navList .navList__item .navList__link {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  color: white;
  padding-bottom: 2px;
  font-family: "Poppins", sans-serif;
  transition: all 0.5s ease;
}
header .navList .navList__item .navList__link::after {
  content: "";
  width: 0;
  height: 3px;
  background-color: #3b82f4;
  position: absolute;
  bottom: 0;
  right: 50%;
  transition: all 0.5s;
  will-change: width;
}
header .navList .navList__item .navList__link--active:after {
  width: 100%;
  right: 0;
}
header .navList .navList__item .navList__link:hover::after {
  width: 100%;
  right: 0;
}
header .navList .navList__item .navList__link:hover {
  color: rgb(201, 201, 201);
  text-shadow: 1px 1px 6px #1953b2;
}
header .navList .switch input {
  display: none;
}
header .navList .switch {
  width: 60px;
  height: 30px;
  position: relative;
}
header .navList .slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  box-shadow: 0 0 0 2px #777, 0 0 4px #777;
  cursor: pointer;
  border: 4px solid transparent;
  overflow: hidden;
  transition: 0.2s;
}
header .navList .slider:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #0966c3;
  border-radius: 30px;
  transform: translateX(-30px);
  /*translateX(-(w-h))*/
  transition: 0.2s;
}
header .navList input:checked + .slider:before {
  transform: translateX(30px);
  /*translateX(w-h)*/
  background-color: #0966c3;
}
header .navList input:checked + .slider {
  box-shadow: 0 0 0 2px #0966c3, 0 0 8px #0966c3;
}
header .navList .switch200 .slider:before {
  width: 200%;
  transform: translateX(-82px);
  /*translateX(-(w-h))*/
}
header .navList .switch200 input:checked + .slider:before {
  background-color: red;
}
header .navList .switch200 input:checked + .slider {
  box-shadow: 0 0 0 2px red, 0 0 8px red;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  margin-bottom: 1rem;
  margin-top: 2rem;
}
footer .bx.footIcon {
  font-size: 3rem;
  margin: 0 1rem;
  color: white;
}
footer .bxl-github {
  transition: all 0.5s ease;
}
footer .bxl-github:hover {
  transform: translateY(-10px);
  color: #0966c3;
}
footer .bxl-linkedin {
  transition: all 0.4s ease;
}
footer .bxl-linkedin:hover {
  transform: translateY(-10px);
  color: #0966c3;
}
footer .bxl-gmail {
  transition: all 0.4s ease;
  color: white;
}
footer .bxl-gmail:hover {
  transform: translateY(-10px);
  color: #0966c3;
}

@media screen and (max-width: 1024px) {
  /*-------------SKILLS---------------------*/
  .skillDivMain__skillPar {
    padding: 0 2rem;
  }
  .skillSect {
    padding: 0 3rem;
  }
  /*-------------PROYECTOS---------------------*/
  .proSection__proyectDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1rem;
  }
  .divProDiv {
    align-items: center;
  }
  .divProDiv__proList {
    margin: 0;
  }
  .proPar {
    text-align: center;
    padding: 0 4rem;
  }
}
@media screen and (max-width: 768px) {
  /*-------------PROYECTOS---------------------*/
  #proMain {
    padding: 0 2rem;
  }
  .proSection__proyectDiv {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
    gap: 1rem;
  }
  .divProImg {
    align-items: flex-end;
  }
  .divProImg__proImg {
    height: 15rem;
    width: auto;
  }
  .divProDiv {
    justify-content: flex-start;
  }
  /*-------------ABOUT---------------------*/
  .aboutSect__info {
    width: 80%;
  }
  .servSec {
    gap: 3rem 12rem;
  }
  .servSec__Title {
    text-align: center;
    margin-top: 1rem;
  }
  /*-------------CONTACT---------------------*/
  .formDiv__name {
    width: 26rem;
  }
  .formDiv__mail {
    width: 26rem;
  }
  .formDiv__message {
    width: 26rem;
  }
}
@media screen and (max-width: 480px) {
  #mainIndex {
    height: 70vh;
  }
  footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  /*-------------SKILLS---------------------*/
  .skillSect {
    padding: 0 3rem;
  }
  /*-------------PROYECTOS---------------------*/
  #proMain {
    padding: 0;
  }
  .proMain__proTitle {
    margin-bottom: 0;
  }
  .proSection {
    gap: 0.2rem;
  }
  .divProImg__proImg {
    height: 10rem;
    width: auto;
  }
  /*-------------ABOUT---------------------*/
  .aboutSect__info {
    text-align: center;
    width: 80%;
  }
  #servSec__div {
    width: 16rem;
    height: 26rem;
  }
  .servSec {
    margin-top: 1rem;
    gap: 3rem 12rem;
  }
  .servSec__Title {
    text-align: center;
  }
  .servSec__par {
    text-align: center;
  }
  /*-------------CONTACT---------------------*/
  .conPar {
    padding: 1rem 2rem;
  }
  .formDiv__name {
    width: 18rem;
  }
  .formDiv__mail {
    width: 18rem;
  }
  .formDiv__message {
    width: 18rem;
  }
  .formDiv__btn {
    align-self: center;
  }
}
#indexBody {
  background-image: url(../images/indexBack.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#mainIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 75vh;
  color: white;
  font-size: xx-large;
  text-shadow: 4px 2px 10px rgb(32, 31, 31);
  overflow: hidden;
}
#mainIndex .mainIndex__mainTitle {
  line-height: 1;
  letter-spacing: 1px;
  font-size: 3rem;
  font-weight: bolder;
  font-family: "Poppins", sans-serif;
}
#mainIndex .mainIndex__mainSubtitle {
  font-weight: 500;
  font-size: xx-large;
  margin-bottom: 1rem;
  font-family: "Poppins", sans-serif;
}
#mainIndex button.learn-more {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
  width: 12rem;
  height: auto;
}
#mainIndex button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #0966c3;
  border-radius: 1.625rem;
}
#mainIndex button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
#mainIndex button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
#mainIndex button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
#mainIndex button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #aeaeae;
  letter-spacing: 1px;
  font-size: medium;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
#mainIndex button:hover .circle {
  width: 100%;
}
#mainIndex button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(1rem, 0);
}
#mainIndex button:hover .button-text {
  color: white;
}

@media screen and (max-width: 480px) {
  #mainIndex {
    height: 70vh;
  }
}
/* ---------------------------------   SKILLS    ------------------------------------ */
#skillsBody {
  background-color: #191a1c;
}

/* ---------------------------------   SKILL INFO    ------------------------------------ */
.skillDivMain {
  grid-area: info;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.skillDivMain__skillTitle {
  text-align: center;
  color: white;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}
.skillDivMain__skillSpan {
  color: #3b82f4;
}
.skillDivMain__skillPar {
  color: white;
  padding: 0 8rem;
  letter-spacing: 1px;
  text-align: center;
}

.skillSect {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 25%;
  gap: 3rem;
  margin: 2rem 0;
}
.skillSect__skillDiv {
  display: grid;
  justify-items: center;
  transition: all 0.5s ease;
  gap: 0.5rem;
}
.skillSect__skillDiv .skillDiv__skillLogos {
  height: 4.5rem;
}
.skillSect__skillDiv .skillDiv__skillName {
  color: white;
  font-weight: 500;
  font-size: medium;
  cursor: default;
  text-align: center;
}
.skillSect__skillDiv:hover {
  transform: scale(1.2);
}

/* ---------------------------------   MEDIA QUERYS    ---------------------------------- */
#proBody {
  background-color: #191a1c;
  font-family: "Poppins", sans-serif;
}
#proBody .proMain {
  padding: 0 5rem;
}
#proBody .proMain__proTitle {
  color: white;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
  font-weight: bolder;
}
#proBody .proMain__proSpan {
  color: #3b82f4;
}
#proBody .proMain .proSection {
  display: grid;
  gap: 3rem;
  align-items: center;
  justify-items: center;
}
#proBody .proMain .proSection__proyectDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  gap: 2rem;
}
#proBody .proMain .proSection__proyectDiv .divProImg {
  display: flex;
  justify-content: center;
}
#proBody .proMain .proSection__proyectDiv .divProImg__proImg {
  width: 30rem;
  height: auto;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 10px 10px 30px rgb(30, 30, 30);
}
#proBody .proMain .proSection__proyectDiv .divProDiv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px 15px;
  gap: 0.8rem;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proSubtitle {
  color: #0966c3;
  text-align: start;
  font-size: x-large;
  letter-spacing: 0.5px;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList {
  display: flex;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .proList__bold {
  color: grey;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .proList__item {
  margin: 0 0.5rem;
  color: white;
  font-weight: 500;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .bxl-html5 {
  color: #dd4b24;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .bxl-css3 {
  color: #2174f8;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .bxl-javascript {
  color: #f0d81e;
}
#proBody .proMain .proSection__proyectDiv .divProDiv__proList .bxl-bootstrap {
  color: #7a52b3;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .proPar {
  text-align: start;
  color: white;
  letter-spacing: 0.5px;
  margin: 0;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .btnDiv {
  display: flex;
  gap: 1rem;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .btnDiv__proBtn {
  width: 7rem;
  padding: 0.8rem 0;
  border-radius: 3px;
  transition: all 0.3s ease;
  font-weight: 500;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .btnDiv__proBtn--dark {
  background-color: #3b82f6;
  border: 2px solid #1953b2;
  color: white;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .btnDiv__proBtn--light {
  border: 2px solid #2673ed;
  color: #3b82f6;
}
#proBody .proMain .proSection__proyectDiv .divProDiv .btnDiv__proBtn:hover {
  background: #0b63f3;
  border: 2px solid #0b63f3;
  color: white;
}/*# sourceMappingURL=stylescss.css.map */